name: Build and Deploy Code

on: [push, pull_request]

jobs:
  job1:
    environment:
      name: testing
    env:
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      DATABASE_NAME: ${{secrets.DATABASE_NAME }}
      DATABASE_USER: ${{secrets.DATABASE_USER }}
      DATABASE_PASSWORD: ${{secrets.DATABASE_PASSWORD }}
      DATABASE_PORT: ${{secrets.DATABASE_PORT }}
      DATABASE_CONNECTION_URI: ${{secrets.DATABASE_CONNECTION_URI }}
      DATABASE_SECRET_KEY: ${{secrets.DATABASE_SECRET_KEY }}
      DATABASE_ALGORITHM: ${{secrets.DATABASE_ALGORITHM }}
      DATABASE_ACCESS_TOKEN_EXPIRE_MINUTES: ${{secrets.DATABASE_ACCESS_TOKEN_EXPIRE_MINUTES }}

      services:
        postgres:
          image: postgres
          env:
            POSTGRES_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
            POSTGRES_DB: ${{secrets.DATABASE_NAME}}_test
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    runs-on: ubuntu-latest
    steps:
      - name: pulling git repo
        uses: actions/checkout@v2

      - name: say hello
        run: echo "hello world"
      - name: Install python version 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: update pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Tests
        run: pip install pytest
          pytest
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ secrets.DOCKER_BUILDER }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/fastapii:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
